{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="card-box">
    <div class="row">
    <h1 class="text-center">Internal Account Details</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ internalAccount.id }}</td>
            </tr>
            <tr>
                <th>Account Name</th>
                <td>{{ internalAccount.accountName }}</td>
            </tr>
            <tr>
                <th>Account Number</th>
                <td>{{ internalAccount.accountNumber }}</td>
            </tr>
        </tbody>
    </table>

    </div>
        
    </div>
{% endblock %}
