/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/database/

/.idea/log
/.idea/*

/web/archives/registrations/*
!web/archives/registrations/.gitkeep

/web/archives/loans/*
!web/archives/loans/.gitkeep

/web/archives/savings/*
!web/archives/savings/.gitkeep

/web/archives/deposits/*
!web/archives/deposits/.gitkeep

/web/archives/shares/*
!web/archives/shares/.gitkeep

/web/archives/ledgers/*
!web/archives/ledgers/.gitkeep

/web/archives/operations/*
!web/archives/operations/.gitkeep

/web/archives/databases/*
!web/archives/databases/.gitkeep
