{% extends 'base.html.twig' %}

{% block contenu %}
    <h1 class="text-center">Groupe details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ groupe.name }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
