{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Cash in operation{% endblock %}
{% block contenu %}
    <ol class="breadcrumb">
    <li>
      <a href="#">BALACUL</a>
    </li>
    <li>
      <a href="#">Operation</a>
    </li>
    <li class="active">
      Cash In form a member
    </li>
  </ol>
        <h1 class="text-center">ACCOUNTS CREDIT OPERATIONS</h1>
        <section class="col-lg-4">
            <fieldset>
                <legend>Operation</legend>
                <div class="form-group template">
                    <label class="control-label">Account Category</label>
                        <select id="accountCategory" name="objetStatistique" class="form-control">
                            <option value="">&lt;------ Select ------&gt;</option>
                            <option value="1">SAVINGS</option>
                            <option value="2">SHARES</option>
                            <option value="3">DEPOSITS</option>
                        </select>
                    </div>
                    <div id="zoneAccounts">
                        <div class="accounts_container">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number" class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="">Charges</label>
                        <input name="fees" type="number" class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default" id="saveCredit" href="#">Save</a>
                        <a class="btn btn-primary" name="btn-formaccount-reset" href="#">Reset</a>
                    </div>
            </fieldset>
            
        </section>
        <section  class="col-lg-8">
            <fieldset id="detailAddcount" class="fadeInDown animated hide">
                <legend>Details on the account</legend>

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="widget-bg-color-icon card-box {# fadeInDown animated #}">
                            <div class="text-left">
                                <span><strong> BALANCE </strong></span>
                                <h3 class="text-dark"><b id="solde" class="counter"></b></h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="col-md-6 col-lg-6">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-left">
                                <span><strong> Account Number </strong></span>
                                <h3 class="text-dark"><b id="number"></b></h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="ownerDetails" class=" hide fadeInDown animated">
                <legend>Details on the account the owner</legend>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="card-box">
                            <div class="contact-card">
                                <a class="pull-left" href="#">
                                    <img class="img-circle" src="{{asset('assets/images/tba.png')}}" alt="">
                                </a>
                                <div class="member-info">
                                    <h4 class="m-t-0 m-b-5 header-title"><b id="socialReason"></b></h4>
                                    <p class="text-dark">Member Number: <b  id="memberNumber"></b></p>
                                    <p class="text-dark">Adress: <b id="address"></b></p>
                                    <p class="text-dark">Phone Number: <b id="phoneNumber"></b></p>
                                    <p class="text-dark">Membership date creation : <b id="date"></b></p>
                                    <p class="text-dark">Witness Name: <b id="witness"></b></p>
                                    <p class="text-dark">Proposed by: <b id="proposed"></b></p>
                            </div>
                        </div>
                        
                    </div> <!-- end col -->
                    
                </div>
            </fieldset>
            <fieldset id="physicalOwnerDetails" class=" hide fadeInDown animated">
                <legend>Details on the account the owner</legend>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="card-box">
                            <div class="contact-card">
                                <a class="pull-left" href="#">
                                    <img class="img-circle" src="{{asset('assets/images/tba.png')}}" alt="">
                                </a>
                                <div class="member-info">
                                    <h4 class="m-t-0 m-b-5 header-title"><b id="pname"></b></h4>
                                    <p class="text-dark">Member Number: <b  id="pmemberNumber"></b></p>
                                    <p class="text-dark">Occupation: <b  id="poccupation"></b></p>
                                    <p class="text-dark">Adress: <b id="paddress"></b></p>
                                    <p class="text-dark">NIC Number: <b id="pnicNumber"></b></p>
                                    <p class="text-dark">Phone Number: <b id="pphoneNumber"></b></p>
                                    <p class="text-dark">Membership date creation : <b id="pdate"></b></p>
                                    <p class="text-dark">Witness Name: <b id="pwitness"></b></p>
                                    <p class="text-dark">Proposed by: <b id="pproposed"></b></p>
                                    <p class="text-dark">Date of birth: <b id="pdateBirth"></b></p>
                                    <p class="text-dark">Born At: <b id="pPlaceBirth"></b></p>
                            </div>
                        </div>
                        
                    </div> <!-- end col -->
                    
                </div>
            </fieldset>
        </section>


    {# Hidden inputs #}
    <select name="" class="selecteur-zone form-control hide" id=""></select>

        {% include './operation/extras.css.html.twig' %}
        {% include './operation/extras.js.html.twig' %}
{% endblock %}
