{% extends 'base.html.twig' %}

{% block contenu %}

          <div class="row">
              <div class="col-sm-12">
                  <div class="card-box table-responsive">
                  <h4 class="m-t-0 header-title text-center"><b>Transaction Incomes list</b></h4>
                  <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                          <tr>
                              <th style="width: 100px;">Actions</th>
                              <th>Amount</th>
                              <th>Transaction date</th>
                              <th>Description</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for transactionIncome in transactionIncomes %}
                          <tr>
                              <td>
                                  <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                      <span class="fa fa-caret-down"></span></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#" data-account="{{transactionIncome.id}}" name="accounttype-edit"><i class="fa fa-edit"></i> Edit</a></li>
                                    </ul>
                                  </div>
                          </td>
                          <td>{{ transactionIncome.amount }}</td>
                          <td>{% if transactionIncome.transactionDate %}{{ transactionIncome.transactionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                          <td>{{ transactionIncome.description }}</td>
                      </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
    </div>

    {% include './transactionincome/extras.css.html.twig' %}
    {% include './transactionincome/extras.js.html.twig' %}

{% endblock %}
